{{!-- BEGIN-SNIPPET selectable-table --}}
<div class="table-actions">
  {{#if this.hasSelection}}
    <div class="table-action fa fa-check-square-o" title="Deselect all" {{action "deselectAll"}} role="button"></div>
    <div class="table-action fa fa-trash-o delete" title="Delete selected" {{action "deleteAll"}} role="button"></div>
  {{else}}
    <div class="table-action fa fa-square-o" title="Select all" {{action "selectAll"}} role="button"></div>
  {{/if}}
</div>

<LightTable @table={{this.table}} @height="65vh" as |t|>
  <t.head
    @onColumnClick={{action "onColumnClick"}}
    @iconSortable="fa fa-sort"
    @iconAscending="fa fa-sort-asc"
    @iconDescending="fa fa-sort-desc"
    @fixed={{true}}
  />

  <t.body
    @multiSelect={{true}}
    @onScrolledToBottom={{action "onScrolledToBottom"}}
  as |body|>
    {{#if this.isLoading}}
      <body.loader>
        <TableLoader/>
      </body.loader>
    {{/if}}

    {{#if (and (not this.isLoading) this.table.isEmpty)}}
      <body.no-data>
        <NoData/>
      </body.no-data>
    {{/if}}
  </t.body>
</LightTable>
{{!-- END-SNIPPET --}}
