{{!-- BEGIN-SNIPPET selectable-table --}}
<div class="table-actions">
  {{fixed-header-table-action value=fixed onChange=(action (mut fixed))}}
  {{virtual-scrollbar-table-action value=virtual onChange=(action (mut virtual))}}
  {{#if hasSelection}}
    <div class="table-action fa fa-check-square-o" title="Deselect all" {{action 'deselectAll'}}></div>
    <div class="table-action fa fa-trash-o delete" title="Delete selected" {{action 'deleteAll'}}></div>
  {{else}}
    <div class="table-action fa fa-square-o" title="Select all" {{action 'selectAll'}}></div>
  {{/if}}
</div>

{{#lt-frame
  height='65vh'
  scrollbar=(if virtual 'virtual' 'standard')
  as |frame|
}}
  {{frame.fixed-head-here}}

  {{#frame.scrollable-zone}}
    {{#frame.table table as |t|}}
      {{t.head
        fixed=fixed
        onColumnClick=(action 'onColumnClick')
        iconSortable='fa fa-sort'
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
      }}

      {{#t.body
        useLegacyBehaviorFlags=false
        behaviors=(array (lt-multi-select))
        onScrolledToBottom=(action 'onScrolledToBottom')
        as |body|
      }}
        {{#if isLoading}}
          {{#body.loader}}
            {{table-loader}}
          {{/body.loader}}
        {{/if}}

        {{#if (and (not isLoading) table.isEmpty)}}
          {{#body.no-data}}
            {{no-data}}
          {{/body.no-data}}
        {{/if}}
      {{/t.body}}
    {{/frame.table}}
  {{/frame.scrollable-zone}}
{{/lt-frame}}
{{!-- END-SNIPPET --}}
