{{! BEGIN-SNIPPET selectable-table }}
<div class="table-actions">
  {{#if this.hasSelection}}
    <div
      class="table-action"
      title="Deselect all"
      role="button"
      {{on "click" this.deselectAll}}
    >
      <FaIcon @prefix="far" @icon="check-square" />
    </div>
    <div
      class="table-action"
      title="Delete selected"
      role="button"
      {{on "click" this.deleteAll}}
    >
      <FaIcon @prefix="far" @icon="trash-alt" />
    </div>
  {{else}}
    <div
      class="table-action"
      title="Select all"
      role="button"
      {{on "click" this.selectAll}}
    >
      <FaIcon @prefix="far" @icon="square" />
    </div>
  {{/if}}
</div>

<LightTable @table={{this.table}} @height="65vh" as |t|>
  <t.head
    @onColumnClick={{this.onColumnClick}}
    @iconSortable="sort"
    @iconAscending="sort-up"
    @iconDescending="sort-down"
    @fixed={{true}}
  />

  <t.body
    @multiSelect={{true}}
    @onScrolledToBottom={{this.onScrolledToBottom}}
    as |body|
  >
    {{#if this.isLoading}}
      <body.loader>
        <TableLoader />
      </body.loader>
    {{/if}}

    {{#if (and (not this.isLoading) this.table.isEmpty)}}
      <body.no-data>
        <NoData />
      </body.no-data>
    {{/if}}
  </t.body>
</LightTable>
{{! END-SNIPPET }}