{{!-- BEGIN-SNIPPET responsive-table --}}
<LightTable
  @table={{this.table}}
  @height="65vh"
  @responsive={{true}}
  @onAfterResponsiveChange={{this.onAfterResponsiveChange}}
as |t|>

  {{!--
    In order for `fa-sort-up` and `fa-sort-down` icons to work,
    you need to have ember-font-awesome installed or manually include
    the font-awesome assets, e.g. via a CDN.
  --}}

  <t.head
    @onColumnClick={{this.onColumnClick}}
    @iconSortable="fa fa-sort"
    @iconAscending="fa fa-sort-up"
    @iconDescending="fa fa-sort-down"
    @fixed={{true}}
  />

  <t.body
    @canSelect={{false}}
    @expandOnClick={{false}}
    @onScrolledToBottom={{this.onScrolledToBottom}}
  as |body|>
    <body.expanded-row as |row|>
      <ResponsiveExpandedRow @table={{this.table}} @row={{row}}/>
    </body.expanded-row>

    {{#if this.isLoading}}
      <body.loader>
        <TableLoader/>
      </body.loader>
    {{/if}}
  </t.body>

  <t.foot @fixed={{true}} as |columns|>
    <tr>
      <td class="align-center" colspan={{columns.length}}>
        <i class="pull-left" aria-hidden="true"><FaIcon @prefix="fas" @icon="chevron-left" /></i>
        Resize your browser to check out the responsive behavior
        <i class="pull-right" aria-hidden="true"><FaIcon @prefix="fas" @icon="chevron-right" /></i>
      </td>
    </tr>
  </t.foot>

</LightTable>
{{!-- END-SNIPPET --}}
