{{!-- BEGIN-SNIPPET scrolling-table --}}
<LightTable @table={{this.table}} @height="65vh" as |t|>

  {{!--
    In order for `fa-sort-asc` and `fa-sort-desc` icons to work,
    you need to have ember-font-awesome installed or manually include
    the font-awesome assets, e.g. via a CDN.
  --}}

  <t.head
    @onColumnClick={{this.onColumnClick}}
    @iconSortable="fa fa-sort"
    @iconAscending="fa fa-sort-asc"
    @iconDescending="fa fa-sort-desc"
    @fixed={{true}}
  />

  <t.body
    @canSelect={{false}}
    @scrollTo={{this.scrollTo}}
    @scrollToRow={{this.scrollToRow}}
    @onScroll={{fn (mut this.currentScrollOffset)}}
    @onScrolledToBottom={{this.onScrolledToBottom}}
  as |body|>
    {{#if this.isLoading}}
      <body.loader>
        <TableLoader/>
      </body.loader>
    {{/if}}
  </t.body>

  <t.foot @fixed={{true}} as |columns|>
    <tr>
      <td colspan={{columns.length}}>
        <form class="form-inline" onsubmit="return false;">
          <div class="form-group">
            <label>Current Scroll Position:</label>
            <span class="form-control-static">
              {{if (eq this.currentScrollOffset null) "N/A" (concat this.currentScrollOffset "px")}}
            </span>
          </div>

          <div class="form-group scroll-to-control">
            <label for="scrollTo">Scroll To:</label>
            <Input
              @key-down={{fn (mut this.scrollTo)}}
              @value={{this.scrollTo}}
              @type="number"
              name="scrollTo"
              min="0"
              step="10"
              class="form-control"
            />
          </div>

          <div class="form-group scrolling-select-control">
            <label for="scrollToRow">Scroll To Row:</label>
            <PowerSelect @selected={{this.scrollToRow}}
              @options={{this.table.visibleRows}}
              @onChange={{fn (mut this.scrollToRow)}}
              name="scrollToRow"
            as |row|>
              {{row.id}} - {{row.firstName}} {{row.lastName}}
            </PowerSelect>
          </div>
        </form>
      </td>
    </tr>
  </t.foot>

</LightTable>
{{!-- END-SNIPPET --}}
