{{!-- BEGIN-SNIPPET scroll-controller --}}
  <form class="form-inline" style="display: flex; justify-content: space-between;">
    <div class="form-group">
      <label>
        currentScrollOffset
      </label>
      <span class="form-control-static">
        {{#if (eq currentScrollOffset null)}}
          null
        {{else}}
          {{currentScrollOffset}} px
        {{/if}}
      </span>
    </div>

    <div class="form-group">
      <label for="targetScrollOffset">
        targetScrollOffset
      </label>
      {{one-way-input
        update=updateTargetScrollOffset
        class="form-control"
        name="targetScrollOffset"
        type="number"
        min=0
        step=10
      }}
    </div>

    <div class="form-group">
      <label for="targetScrollOffset">
        targetRow
      </label>
      {{#one-way-select selectedValue
        options=rows
        update=updateTargetRow
        class="form-control"
        name="targetRow"
        as |row index|
      }}
        {{index}}
        {{#each fields as |field|}}
          - {{get row field}}
        {{/each}}
      {{/one-way-select}}
    </div>
  </form>
{{!-- END-SNIPPET --}}
