<div
  class="lt-body-wrap
    {{if this.canSelect 'can-select'}}
    {{if this.multiSelect 'multi-select'}}
    {{if this.canExpand 'can-expand'}}"
  {{did-insert this.onRowsChange this.rows}}
  {{did-update this.onRowsChange this.rows}}
  {{did-insert this.scheduleScrolledToBottom this.rows this.isInViewport}}
  {{did-update this.scheduleScrolledToBottom this.rows this.isInViewport}}
  {{did-insert this.setupScrollOffset this.scrollTo this.scrollToRow}}
  {{did-update this.setupScrollOffset this.scrollTo this.scrollToRow}}
>
  {{#let
    (hash
      row=(or this.rowComponent (component "lt-row"))
      spanned-row=(or this.spannedRowComponent (component "lt-spanned-row"))
      infinity=(or this.infinityComponent (component "lt-infinity"))
    )
    as |lt|
  }}
    {{#if this.sharedOptions.occlusion}}
      <div class="lt-scrollable tse-scrollable vertical-collection">
        <div
          id={{concat this.tableId "_inline_head"}}
          class="lt-inline lt-head"
        ></div>

        <table class={{this.tableClassNames}}>
          <tbody class="lt-body">
            {{#if this.overwrite}}
              {{yield this.columns this.rows}}
            {{else}}
              <VerticalCollection
                @items={{this.rows}}
                @tagName="vertical-collection"
                @estimateHeight={{this.sharedOptions.estimatedRowHeight}}
                @shouldRecycle={{this.sharedOptions.shouldRecycle}}
                @staticHeight={{true}}
                @bufferSize={{this.scrollBufferRows}}
                @containerSelector=".lt-scrollable"
                @firstVisibleChanged={{action "ltBodyFirstVisibleChanged"}}
                @lastVisibleChanged={{action "ltBodyLastVisibleChanged"}}
                @firstReached={{action "ltBodyFirstReached"}}
                @lastReached={{action "ltBodyLastReached"}}
                as |row|
              >
                <lt.row
                  @row={{row}}
                  @columns={{this.columns}}
                  @data-row-id={{row.rowId}}
                  @table={{this.table}}
                  @tableActions={{this.tableActions}}
                  @extra={{this.extra}}
                  @enableScaffolding={{this.enableScaffolding}}
                  @canExpand={{this.canExpand}}
                  @canSelect={{this.canSelect}}
                  @click={{action "ltBodyRowClick" row}}
                  @doubleClick={{action "ltBodyRowDoubleClick" row}}
                />
              </VerticalCollection>
              {{yield
                (hash
                  loader=(component
                    (ensure-safe-component lt.spanned-row)
                    classes="lt-is-loading"
                  )
                  no-data=(component
                    (ensure-safe-component lt.spanned-row) classes="lt-no-data"
                  )
                  expanded-row=(component
                    (ensure-safe-component lt.spanned-row) visible=false
                  )
                )
                this.rows
              }}
            {{/if}}
          </tbody>
        </table>

        <div
          id={{concat this.tableId "_inline_foot"}}
          class="lt-inline lt-foot"
        ></div>
      </div>
    {{else}}
      <LtScrollable
        @tagName=""
        @virtualScrollbar={{this.useVirtualScrollbar}}
        @autoHide={{this.autoHideScrollbar}}
        @scrollTo={{this.targetScrollOffset}}
        @onScrollY={{action "scroll"}}
        as |scrollbar|
      >
        <div
          id={{concat this.tableId "_inline_head"}}
          class="lt-inline lt-head"
        ></div>

        <table class={{this.tableClassNames}}>
          <tbody class="lt-body">
            {{#if this.enableScaffolding}}
              <tr class="lt-scaffolding-row">
                {{#each this.columns as |column|}}
                  {{! template-lint-disable no-inline-styles }}
                  <td
                    style={{html-safe
                      (if column.width (concat "width: " column.width))
                    }}
                    class="lt-scaffolding"
                  ></td>
                  {{! template-lint-enable no-inline-styles }}
                {{/each}}
              </tr>
            {{/if}}

            {{#if this.overwrite}}
              {{yield this.columns this.rows}}
            {{else}}
              {{#each
                (if scrollbar (compute scrollbar.update this.rows) this.rows)
                as |row|
              }}
                <lt.row
                  @row={{row}}
                  @columns={{this.columns}}
                  @data-row-id={{row.rowId}}
                  @table={{this.table}}
                  @tableActions={{this.tableActions}}
                  @extra={{this.extra}}
                  @enableScaffolding={{this.enableScaffolding}}
                  @canExpand={{this.canExpand}}
                  @canSelect={{this.canSelect}}
                  @click={{action "ltBodyRowClick" row}}
                  @doubleClick={{action "ltBodyRowDoubleClick" row}}
                />

                {{yield
                  (hash
                    expanded-row=(component
                      lt.spanned-row
                      classes="lt-expanded-row"
                      colspan=this.colspan
                      yield=row
                      visible=row.expanded
                    )
                    loader=(component
                      (ensure-safe-component lt.spanned-row) visible=false
                    )
                    no-data=(component
                      (ensure-safe-component lt.spanned-row) visible=false
                    )
                  )
                  this.rows
                }}
              {{/each}}

              {{yield
                (hash
                  loader=(component
                    (ensure-safe-component lt.spanned-row)
                    classes="lt-is-loading"
                    colspan=this.colspan
                  )
                  no-data=(component
                    (ensure-safe-component lt.spanned-row)
                    classes="lt-no-data"
                    colspan=this.colspan
                  )
                  expanded-row=(component
                    (ensure-safe-component lt.spanned-row) visible=false
                  )
                )
                this.rows
              }}
            {{/if}}
          </tbody>
        </table>

        {{#if @onScrolledToBottom}}
          <lt.infinity
            @enterViewport={{this.enterViewport}}
            @exitViewport={{this.exitViewport}}
            @scrollableContent={{concat "#" this.tableId " .lt-scrollable"}}
          />
        {{/if}}

        <div
          id={{concat this.tableId "_inline_foot"}}
          class="lt-inline lt-foot"
        ></div>
      </LtScrollable>
    {{/if}}
  {{/let}}
</div>