{{#lt-scrollable
  tagName=''
  virtualScrollbar=shouldUseVirtualScrollbar
  autoHide=false
}}
  <div id={{concat tableId '_inline_head'}} class="lt-inline lt-head"></div>

  {{#if (gt fixedColumns.length 0)}}
    <div class="lt-column-wrapper fixed-columns" style={{ltColumnWrapperStyle.fixed}}>
      <table>
        <tbody class="lt-body">
          {{#if overwrite}}
            {{yield fixedColumns rows}}
          {{else}}
            {{#each rows as |row|}}
              {{lt-row row fixedColumns
                tableActions=tableActions
                canExpand=canExpand
                canSelect=canSelect
                click=(action 'onRowClick' row)
                doubleClick=(action 'onRowDoubleClick' row)}}

              {{yield (hash
                expanded-row=(component 'lt-spanned-row' classes='lt-expanded-row' colspan=fixedColumns.length yield=row visible=row.expanded)
                loader=(component 'lt-spanned-row' visible=false)
                no-data=(component 'lt-spanned-row' visible=false)
              ) rows}}
            {{/each}}

            {{yield (hash
              loader=(component 'lt-spanned-row' classes='lt-is-loading' colspan=fixedColumns.length)
              no-data=(component 'lt-spanned-row' classes='lt-no-data' colspan=fixedColumns.length)
              expanded-row=(component 'lt-spanned-row' visible=false)
            ) rows}}
          {{/if}}
        </tbody>
      </table>
    </div>
  {{/if}}

  <div class="lt-column-wrapper standard-columns" style={{ltColumnWrapperStyle.standard}}>
    <table>
      <tbody class="lt-body">
        {{#if overwrite}}
          {{yield standardColumns rows}}
        {{else}}
          {{#each rows as |row|}}
            {{lt-row row standardColumns
              tableActions=tableActions
              canExpand=canExpand
              canSelect=canSelect
              click=(action 'onRowClick' row)
              doubleClick=(action 'onRowDoubleClick' row)}}

            {{yield (hash
              expanded-row=(component 'lt-spanned-row' classes='lt-expanded-row' colspan=standardColumns.length yield=row visible=row.expanded)
              loader=(component 'lt-spanned-row' visible=false)
              no-data=(component 'lt-spanned-row' visible=false)
            ) rows}}
          {{/each}}

          {{yield (hash
            loader=(component 'lt-spanned-row' classes='lt-is-loading' colspan=standardColumns.length)
            no-data=(component 'lt-spanned-row' classes='lt-no-data' colspan=standardColumns.length)
            expanded-row=(component 'lt-spanned-row' visible=false)
          ) rows}}
        {{/if}}
      </tbody>
    </table>
  </div>

  {{#if onScrolledToBottom}}
    {{lt-infinity onScrolledToBottom=onScrolledToBottom scrollBuffer=scrollBuffer}}
  {{/if}}

  <div id={{concat tableId '_inline_foot'}} class="lt-inline lt-foot"></div>
{{/lt-scrollable}}
