{{#ember-wormhole to=(concat tableId '_inline_foot') renderInPlace=renderInPlace}}
  <table class={{tableClassNames}}>
    <tfoot class="lt-foot">
      <tr class="lt-scaffolding-row">
        {{#each columns as |column|}}
          <td style={{html-safe (if column.width (concat 'width: ' column.width))}} class="lt-scaffolding"></td>
        {{/each}}
      </tr>
      {{#if hasBlock}}
        {{yield columns}}
      {{else}}
        <tr>
          {{#each columns as |column|}}
            {{component (concat 'light-table/columns/' column.type) column
              table=table
              tableActions=tableActions
              sortIcons=sortIcons
              resizeOnDrag=resizeOnDrag
              click=(action 'onColumnClick' column)
              doubleClick=(action 'onColumnDoubleClick' column)
              onColumnResized=(action 'onColumnResized')}}
          {{/each}}
        </tr>
      {{/if}}
    </tfoot>
  </table>
{{/ember-wormhole}}
