{{#ember-wormhole to=(concat tableId '_inline_head') renderInPlace=renderInPlace}}
  <table>

  {{#sortable-group direction="x" tagName="thead" onChange="update" class="lt-head" as |group|}}
      {{#if hasBlock}}
        {{yield columnGroups subColumns}}
      {{else}}

        {{!- There is an issue where if there are more than 1 row and the first has a colspan,
           the td's fail to hold their width. Creating a scaffolding will setup the table columns correctly
        --}}
        {{#if subColumns.length}}
          <tr>
            {{#each subColumns as |column|}}
              <td width={{column.width}} class="lt-scaffolding"></td>
            {{/each}}
          </tr>
        {{/if}}

        <tr>
          {{#each columnGroups as |column|}}
            {{#lt-sortable-header  column=column group=group handle=".handle"}}
                <span class="handle" data-item="{{column}}">
              {{component (concat 'light-table/columns/' column.type) column
                table=table
                tableActions=tableActions
                sortIcons=sortIcons
                click=(action 'onColumnClick' column)
                doubleClick=(action 'onColumnDoubleClick' column)}}
                </span>
            {{/lt-sortable-header}}
          {{/each}}
        </tr>
        <tr>
          {{#each subColumns as |column|}}
            {{component (concat 'light-table/columns/' column.type) column
              table=table
              rowspan=1
              classNames="lt-sub-column"
              tableActions=tableActions
              sortIcons=sortIcons
              click=(action 'onColumnClick' column)
              doubleClick=(action 'onColumnDoubleClick' column)}}
          {{/each}}
        </tr>
      {{/if}}
    {{/sortable-group}}
  </table>
{{/ember-wormhole}}
