{{! BEGIN-SNIPPET client-side-table }}
<LightTable @table={{this.table}} @height="65vh" as |t|>
  {{!
    In order for `sort-up` and `sort-down` icons to work,
    you need to have ember-font-awesome installed or manually include
    the font-awesome assets, e.g. via a CDN.
  }}

  <t.head
    @onColumnClick={{this.onColumnClick}}
    @iconSortable="sort"
    @iconAscending="sort-up"
    @iconDescending="sort-down"
    @iconComponent="fa-icon-wrapper"
    @fixed={{true}}
  />

  <t.body @canSelect={{false}} as |body|>
    {{#if this.isLoading}}
      <body.loader>
        <TableLoader />
      </body.loader>
    {{/if}}
  </t.body>

  <t.foot @fixed={{true}} as |columns|>
    <tr>
      <td class="row" colspan={{columns.length}}>
        <div class="col-md-6">
          <PowerSelect
            @selected={{this.selectedFilter}}
            @options={{this.possibleFilters}}
            @onChange={{
              pipe-action (fn (mut this.selectedFilter)) this.onSearchChange
            }}
            @placeholder="Select filter column..."
            class="form-control"
            name="scrollToRow" as |option|
          >
            {{option.label}}
          </PowerSelect>
        </div>
        <div class="col-md-6">
          <Input
            @value={{this.query}}
            placeholder="Search..."
            class="form-control"
            {{on "keydown" (pipe-action this.updateQuery this.onSearchChange)}}
          />
        </div>
      </td>
    </tr>
  </t.foot>
</LightTable>
{{! END-SNIPPET }}