{{!-- BEGIN-SNIPPET client-side-table --}}
<div class='table-actions'>
  {{fixed-header-table-action value=fixed onChange=(action (mut fixed))}}
  {{virtual-scrollbar-table-action value=virtual onChange=(action (mut virtual))}}
</div>

{{#lt-frame
  height='65vh'
  scrollbar=(if virtual 'virtual' 'standard') as |frame|
}}
  {{frame.fixed-head-here}}

  {{#frame.scrollable-zone}}
    {{#frame.table table as |t|}}

      {{!--
        In order for `fa-sort-asc` and `fa-sort-desc` icons to work,
        you need to have ember-font-awesome installed or manually include
        the font-awesome assets, e.g. via a CDN.
      --}}

      {{t.head
        fixed=fixed
        onColumnClick=(action 'onColumnClick')
        iconSortable='fa fa-sort'
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
      }}

      {{#t.body
        useLegacyFlagBehaviors=false
        as |body|
      }}
        {{#if isLoading}}
          {{#body.loader}}
            {{table-loader}}
          {{/body.loader}}
        {{/if}}
      {{/t.body}}

      {{#t.foot
        fixed=true
        to=(concat elementId '-foot-position')
        as |columns|
      }}
        <tr>
          <td class="align-center" colspan={{columns.length}}>
            {{one-way-select selectedFilter
                options=possibleFilters
                optionValuePath="valuePath"
                optionLabelPath="label"
                update=(action (pipe (action (mut selectedFilter)) (action 'onSearchChange')))
            }}
            {{one-way-input
              value=query
              placeholder="Search..."
              update=(action (pipe (action (mut query)) (action 'onSearchChange')))
            }}
          </td>
        </tr>
      {{/t.foot}}
    {{/frame.table}}
  {{/frame.scrollable-zone}}

  {{frame.fixed-foot-here}}
{{/lt-frame}}
{{!-- END-SNIPPET --}}
