{{!-- BEGIN-SNIPPET paginated-table --}}
<LightTable @table={{this.table}} @height="65vh" as |t|>

  {{!--
    In order for `fa-sort-asc` and `fa-sort-desc` icons to work,
    you need to have ember-font-awesome installed or manually include
    the font-awesome assets, e.g. via a CDN.
  --}}

  <t.head
    @onColumnClick={{pipe (action "onColumnClick") (action "setPage" 1)}}
    @iconSortable="fa fa-sort"
    @iconAscending="fa fa-sort-asc"
    @iconDescending="fa fa-sort-desc"
    @fixed={{true}}
  />

  <t.body @canSelect={{false}} as |body|>
    {{#if this.isLoading}}
      <body.loader>
        <TableLoader/>
      </body.loader>
    {{/if}}
  </t.body>

  {{#if this.meta}}
    <t.foot @fixed={{true}} as |columns|>
      <tr>
        <td class="align-center" colspan={{columns.length}}>
          <ul class="pagination pagination-sm">
            <li class={{if (eq this.page 1) "disabled"}}>
              <a {{action "setPage" (dec this.page)}} href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{#each (range 1 this.meta.totalPages true) as |p|}}
              <li class={{if (eq p this.page) "active"}}>
                <a {{action "setPage" p}} href="#">{{p}}</a>
              </li>
            {{/each}}
            <li class={{if (eq this.page this.meta.totalPages) "disabled"}}>
              <a {{action "setPage" (inc this.page)}} href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
    </t.foot>
  {{/if}}
</LightTable>
{{!-- END-SNIPPET --}}
