{{!-- BEGIN-SNIPPET paginated-table --}}
{{#light-table table as |t|}}

  {{!--
    In order for `fa-sort-asc` and `fa-sort-desc` icons to work,
    you need to have ember-font-awesome installed or manually include
    the font-awesome assets, e.g. via a CDN.
  --}}

  {{t.head
    onColumnClick=(pipe (action 'onColumnClick') (action 'setPage' 1))
    iconSortable='fa fa-sort'
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
  }}

  {{#t.body
    useLegacyBehaviorFlags=false
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

  {{#if meta}}
    {{#t.foot as |columns|}}
      <tr>
        <td class="align-center" colspan={{columns.length}}>
          <ul class="pagination pagination-sm">
            <li class={{if (eq page 1) 'disabled'}}>
              <a {{action 'setPage' (dec page)}} href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{#each (range 1 meta.totalPages true) as |p|}}
              <li class={{if (eq p page) 'active'}}>
                <a {{action 'setPage' p}} href="#">{{p}}</a>
              </li>
            {{/each}}
            <li class={{if (eq page meta.totalPages) 'disabled'}}>
              <a {{action 'setPage' (inc page)}} href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
    {{/t.foot}}
  {{/if}}
{{/light-table}}
{{!-- END-SNIPPET --}}
