{{!-- BEGIN-SNIPPET paginated-table --}}
<LightTable @table={{this.table}} @height="65vh" as |t|>

  {{!--
    In order for `fa-sort-up` and `fa-sort-down` icons to work,
    you need to have ember-font-awesome installed or manually include
    the font-awesome assets, e.g. via a CDN.
  --}}

  <t.head
    @onColumnClick={{pipe this.onColumnClick (fn this.setPage 1)}}
    @iconSortable="sort"
    @iconAscending="sort-up"
    @iconDescending="sort-down"
    @fixed={{true}}
  />

  <t.body @canSelect={{false}} as |body|>
    {{#if this.isLoading}}
      <body.loader>
        <TableLoader/>
      </body.loader>
    {{/if}}
  </t.body>

  {{#if this.meta}}
    <t.foot @fixed={{true}} as |columns|>
      <tr>
        <td class="align-center" colspan={{columns.length}}>
          <ul class="pagination pagination-sm">
            <li class={{if (eq this.page 1) "disabled"}}>
              <button type="button" {{on "click" (fn this.setPage (dec this.page))}} aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </button>
            </li>
            {{#each (range 1 this.meta.totalPages true) as |p|}}
              <li class={{if (eq p this.page) "active"}}>
                <button type="button" {{on "click" (fn this.setPage p)}}>
                  {{p}}
                </button>
              </li>
            {{/each}}
            <li class={{if (eq this.page this.meta.totalPages) "disabled"}}>
              <button type="button" {{on "click" (fn this.setPage (inc this.page))}} aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </t.foot>
  {{/if}}
</LightTable>
{{!-- END-SNIPPET --}}
