{{!-- BEGIN-SNIPPET grouped-table --}}
<div class='table-actions'>
  {{fixed-header-table-action value=fixed onChange=(action (mut fixed))}}
  {{virtual-scrollbar-table-action value=virtual onChange=(action (mut virtual))}}
</div>

{{#lt-frame
  height='65vh'
  scrollbar=(if virtual 'virtual' 'standard')
  as |frame|
}}
  {{frame.fixed-head-here}}

  {{#frame.scrollable-zone}}
    {{#frame.table table as |t|}}
      {{t.head
        fixed=fixed
        onColumnClick=(action 'onColumnClick')
        iconSortable='fa fa-sort'
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
      }}

      {{#t.body
        useLegacyBehaviorFlags=false
        onScrolledToBottom=(action 'onScrolledToBottom')
        as |body|
      }}
        {{#if isLoading}}
          {{#body.loader}}
            {{table-loader}}
          {{/body.loader}}
        {{/if}}
      {{/t.body}}
    {{/frame.table}}
  {{/frame.scrollable-zone}}
{{/lt-frame}}
{{!-- END-SNIPPET --}}
