<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <img src="images/ember-logo.png" alt="">
        <span>Light Table</span>
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}
          {{link-to 'Home' 'index'}}
        {{/link-to}}
        {{#link-to 'grouped' tagName="li"}}
          {{link-to 'Grouped Columns' 'grouped'}}
        {{/link-to}}
        {{#link-to 'resizable' tagName="li"}}
          {{link-to 'Resizable Columns' 'resizable'}}
        {{/link-to}}
        {{#link-to 'expandable' tagName="li"}}
          {{link-to 'Expandable Rows' 'expandable'}}
        {{/link-to}}
        {{#link-to 'selectable' tagName="li"}}
          {{link-to 'Selectable Rows' 'selectable'}}
        {{/link-to}}
        {{#link-to 'scrolling' tagName="li"}}
          {{link-to 'Scrolling' 'scrolling'}}
        {{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="docs">Documentation</a></li>
        <li><a href="https://github.com/offirgolan/ember-light-table" class="fa fa-github github"></a></li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}

<div class="tip">
  <i class="fa fa-info-circle icon-info"></i> Click on the panel header with the <i class="fa fa-code"></i> icon to see code snippets associated with this table.
</div>
