<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <img src="images/ember-logo.png" alt="">
        <span>Light Table</span>
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}
          {{link-to 'Home' 'index'}}
        {{/link-to}}
        {{#link-to 'responsive' tagName="li"}}
          {{link-to 'Responsive' 'responsive'}}
        {{/link-to}}
        {{#link-to 'scrolling' tagName="li"}}
          {{link-to 'Scrolling' 'scrolling'}}
        {{/link-to}}

        {{#link-to '' tagName="li" classNames="dropdown" current-when='columns'}}
          <a class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Columns <span class='fa fa-caret-down'></span></a>
          <ul class='nav navbar-nav dropdown-menu'>
            {{#link-to 'columns.grouped' tagName="li"}}
              {{link-to 'Grouped Columns' 'columns.grouped'}}
            {{/link-to}}
            {{#link-to 'columns.resizable' tagName="li"}}
              {{link-to 'Resizable Columns' 'columns.resizable'}}
            {{/link-to}}
            {{#link-to 'columns.draggable' tagName="li"}}
              {{link-to 'Draggable Columns' 'columns.draggable'}}
            {{/link-to}}
          </ul>
        {{/link-to}}

        {{#link-to '' tagName="li" classNames="dropdown" current-when='rows'}}
          <a class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Rows <span class='fa fa-caret-down'></span></a>
          <ul class='nav navbar-nav dropdown-menu'>
            {{#link-to 'rows.expandable' tagName="li"}}
              {{link-to 'Expandable Rows' 'rows.expandable'}}
            {{/link-to}}
            {{#link-to 'rows.selectable' tagName="li"}}
              {{link-to 'Selectable Rows' 'rows.selectable'}}
            {{/link-to}}
          </ul>
        {{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#link-to '' tagName="li" classNames="dropdown" current-when='cookbook'}}
          <a class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Cookbook <span class='fa fa-caret-down'></span></a>
          <ul class='nav navbar-nav dropdown-menu'>
            {{#link-to 'cookbook.client-side' tagName="li"}}
              {{link-to 'Client Side Search & Sort' 'cookbook.client-side'}}
            {{/link-to}}
            {{#link-to 'cookbook.custom-row' tagName="li"}}
              {{link-to 'Custom Row Component' 'cookbook.custom-row'}}
            {{/link-to}}
            {{#link-to 'cookbook.horizontal-scrolling' tagName="li"}}
              {{link-to 'Horizontal Scrolling' 'cookbook.horizontal-scrolling'}}
            {{/link-to}}
            {{#link-to 'cookbook.table-actions' tagName="li"}}
              {{link-to 'Table Actions' 'cookbook.table-actions'}}
            {{/link-to}}
            {{#link-to 'cookbook.pagination' tagName="li"}}
              {{link-to 'Pagination' 'cookbook.pagination'}}
            {{/link-to}}
            {{#link-to 'cookbook.custom-sort-icon' tagName="li"}}
              {{link-to 'Custom Sort Icon' 'cookbook.custom-sort-icon'}}
            {{/link-to}}
          </ul>
        {{/link-to}}
        <li><a href="docs">Documentation</a></li>
        <li><a href="https://github.com/offirgolan/ember-light-table" class="fa fa-github github"></a></li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}

<div class="tip">
  <i class="fa fa-info-circle icon-info"></i> Click on the panel header with the <i class="fa fa-code"></i> icon to see code snippets associated with this table.
</div>
