<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="table-1">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#code-snippet" aria-expanded="true" aria-controls="code-snippet">
        <h4 class="panel-title">Expandable Rows <span class="code-icon fa fa-code pull-right"></span></h4>
      </a>
    </div>

    <div id="code-snippet" class="panel-collapse collapse" role="tabpanel" aria-labelledby="table-1">
      <div class="panel-body code-snippet">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#component" aria-controls="component" role="tab" data-toggle="tab">component.js</a></li>
          <li role="presentation"><a href="#template" aria-controls="template" role="tab" data-toggle="tab">template.hbs</a></li>
          <li role="presentation"><a href="#expanded-row" aria-controls="expanded-row" role="tab" data-toggle="tab">expanded-row.hbs</a></li>
          <li role="presentation"><a href="#table-loader" aria-controls="table-loader" role="tab" data-toggle="tab">table-loader.hbs</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="component">{{code-snippet name="expandable-table.js"}}</div>
          <div role="tabpanel" class="tab-pane fade" id="template">{{code-snippet name="expandable-table.hbs"}}</div>
          <div role="tabpanel" class="tab-pane fade" id="expanded-row">{{code-snippet name="expanded-row.hbs"}}</div>
          <div role="tabpanel" class="tab-pane fade" id="table-loader">{{code-snippet name="table-loader.hbs"}}</div>
        </div>
      </div>
    </div>

    <div class="panel-body table-container">
{{!-- BEGIN-SNIPPET expandable-table --}}
{{#light-table table height='65vh' as |t|}}
  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body
    canExpand=true
    multiRowExpansion=false
    onScrolledToBottom=(action 'onScrolledToBottom')
  as |body|}}
    {{#body.expanded-row as |row|}}
      {{expanded-row row=row}}
    {{/body.expanded-row}}

    {{#if isLoading}}
     {{#body.loader}}
       {{table-loader}}
     {{/body.loader}}
   {{/if}}
  {{/t.body}}
{{/light-table}}
{{!-- END-SNIPPET --}}
    </div>
  </div>
</div>
